In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [36]:
#Reading the dataset
dataset = pd.read_csv('beer_data.csv')
dataset.head()

   ABV Ratings Cellar Temperature  Score
0  6.5      22              40-45   3.28
1  5.5       1              35-40   3.52
2  8.1       3              35-40   4.01
3  NaN       0              35-40   0.00
4  6.0       1              35-40   2.73

In [37]:
#Dealing with missing values
dataset.isnull().sum()

ABV                   15130
Ratings                   0
Cellar Temperature     6781
Score                     0
dtype: int64

In [8]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185643 entries, 0 to 185642
Data columns (total 4 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ABV                 170513 non-null  float64
 1   Ratings             185643 non-null  object
 2   Cellar Temperature  178862 non-null  object
 3   Score               185643 non-null  float64
dtypes: float64(2), object(2)
memory usage: 5.7+ MB

In [38]:
dataset['Ratings'] = dataset['Ratings'].apply(lambda x: np.float32(x.replace(",","")))

In [39]:
dataset['ABV'].fillna(dataset['ABV'].mean(),inplace=True)

In [40]:
dataset = dataset[~dataset['Cellar Temperature'].isna()]
dataset.reset_index(inplace = True, drop = True)

In [42]:
dataset.isnull().sum()

ABV                   0
Ratings               0
Cellar Temperature    0
Score                 0
dtype: int64

In [45]:
#Dealing with Categorical Values
dataset['Minimum Cellar Temperature'] = dataset['Cellar Temperature'].apply(lambda x : int(str(x).split('-')[0].strip()))
dataset['Maximum Cellar Temperature'] = dataset['Cellar Temperature'].apply(lambda x : int(str(x).split('-')[1].strip()))

In [46]:
dataset = dataset.drop(['Cellar Temperature'], axis = 1)

In [47]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178862 entries, 0 to 178861
Data columns (total 5 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   ABV                         178862 non-null  float64
 1   Ratings                     178862 non-null  float64
 2   Score                       178862 non-null  float64
 3   Minimum Cellar Temperature  178862 non-null  int64
 4   Maximum Cellar Temperature  178862 non-null  int64
dtypes: float64(3), int64(2)
memory usage: 6.8 MB

In [48]:
x = dataset.drop(['Score'],axis =1)
y = dataset['Score']

In [50]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2)

In [52]:
from sklearn.svm import SVR
#training and fitting the model
reg = SVR()
reg.fit(x_train,y_train)

SVR()

In [53]:
#Predict the outcome of values
y_predict = reg.predict(x_test)
print("Predictions\n",y_predict)

Predictions
 [3.97963452 3.78709616 3.58681884 ... 3.43093085 3.6687652  3.58375385]

In [54]:
error_df = pd.DataFrame({"Actual" : y_test,
                         "Predicted" : y_predict,
                         "Abs. Error" : np.abs(y_test - y_predict)})

error_df

        Actual  Predicted  Abs. Error
65349     0.00   3.979635    3.979635
25568     4.06   3.787096    0.272904
178072    3.64   3.586819    0.053181
17732     0.00   3.593685    3.593685
40550     3.97   3.853234    0.116766
...        ...        ...         ...
123550    3.61   3.562821    0.047179
125977    4.53   3.855854    0.674146
38025     0.00   3.430931    3.430931
167735    3.74   3.668765    0.071235
99953     0.00   3.583754    3.583754

[35773 rows x 3 columns]